{% extends "base.html" %} {%block content%} {% load static %}
<link rel="stylesheet" href="{% static 'css/abouts.css' %}">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">


<div class="text__content-box1">
    <h1 class="chat_t1">Chat coming soon</h1>
</div>

<div class="img__comtent">
    <img src="{% static 'img/r1.svg' %}" class="img-box1">
    <img src="{% static 'img/r2.svg' %}" class="img-box2">
    <img src="{% static 'img/r3.svg' %}" class="img-box3">
    <img src="{% static 'img/r4.svg' %}" class="img-box4">
</div>


{%endblock%}